$primary-color: #0084ff;
$secondary-color: #0066ff;
$color-grey: #e3e3e3;
$color-black: #000000;
$background-color: #f4f4f4;
$color-white: #ffffff;
$pink-color: #ff0285;
$color-red: #ff0000;

$space-s: 14px;
$space-m: 16px;
$space-l: 20px;

$logo-w: 36px;
$logo-h: 36px;
