.button {
  border-radius: 10px;
  background-color: variables.$primary-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 57px;
  min-width: 275px;
  padding: variables.$space-s variables.$space-l;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &_disabled {
    background-color: variables.$color-grey;
  }
}

.button:hover {
  background-color: variables.$secondary-color;
}

.button:disabled {
  pointer-events: none;
  cursor: default;
}
